@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-4 mt-5">BARSANTI TRIP-ADVISOR</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mt-4 text-center">
            <input type="text" class="form-control search-input" placeholder="Cerca...">
        </div>
    </div>

    <div class="row justify-content-center mt-4" id="content-area">
        <div class="col-lg-10 col-md-12 col-sm-12 col-12 text-center">
            @for (int i = 0; i < 10; i++)
            {
                <div class="custom-box p-3 mb-3 toggle-expandable" data-expandable-id="@i">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="images/Albero.jpg" class="img-fluid" alt="Immagine" style="max-height: 200px;">
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="d-flex flex-column align-items-start">
                                <h2>Titolo dell'elemento</h2>
                                <div class="info">
                                    <div class="rating">
                                        <input type="radio" id="star5_@i" name="rating_@i" value="5" />
                                        <label for="star5_@i" title="5 stelle"></label>
                                        <input type="radio" id="star4_@i" name="rating_@i" value="4" />
                                        <label for="star4_@i" title="4 stelle"></label>
                                        <input type="radio" id="star3_@i" name="rating_@i" value="3" />
                                        <label for="star3_@i" title="3 stelle"></label>
                                        <input type="radio" id="star2_@i" name="rating_@i" value="2" />
                                        <label for="star2_@i" title="2 stelle"></label>
                                        <input tipo="radio" id="star1_@i" name="rating_@i" value="1" />
                                        <label for="star1_@i" title="1 stella"></label>
                                    </div>
                                    <p>$50 a persona</p>
                                    <p>15 Aprile 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area d-none" id="expandable-@i">
                        <h3>Commenti:</h3>
                        <p>Questo è un commento.</p>
                        <p>Un altro commento...</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <a class="btn btn-top-right" asp-controller="Home" asp-action="Login">LOGIN</a>
        
        <div class="text-center mt-3">
            <button class="btn btn-success" asp-controller="Home" asp-action="AddNewItem" id="add-new-item">Nuova uscita/gita</button>
        </div>
</div>
