
.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000080;
    margin-top: 40px;
}

.search-input {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000080;
    color: #ffffff;
}

.btn {
    background-color: #000080;
    color: #ffffff;
}

.custom-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    cursor: pointer;
}

.rating > input {
    display: none;
}

.rating > label {
    font-size: 1.5rem;
    color: #ddd;
    padding: 0 0.1em;
}

.rating > label:before {
    content: "\2605"; /* Carattere Unicode per stella */
}

.rating > input:checked ~ label,
.rating > input:hover ~ label {
    color: orange; /* Colore della stella quando selezionata */
}

.info {
    display: flex;
    align-items: center;
}

.info > p {
    margin: 0 0.5em;
}